body {
    min-height: 100vh;
    padding: .3rem;
}
section.main {
    background-color: #4d4d4d;
    min-height: calc(100vh - .7rem);
}
main .card,
main .card .card-header,
main .card .card-body {
    background-color: #4d4d4d;
}
main .card .card-header,
main .card .card-body {
    padding: .3rem;
}
main .card .card-header .nav {
    width: 100%;
}
main .card .card-header .nav-item {
    flex-basis: 3rem;
    -ms-flex-positive: 1;
    flex-grow: 1;
    height: 3rem;
}
main .card .card-header .nav-item .nav-link {
    border-radius: 0;
    background-color: white;
    color: #000;
    font-weight: 400;
    height: 3rem;
    text-align: center;
}
main .card .card-header .nav-item .nav-link.active {
    background-color: red;
    color: white;
}

/* Begin: Header */
.header__nav {
    background-color: #4d4d4d;
    padding: 0 0 .5rem;
}
.header__btn {
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0 1rem;
    cursor: pointer;
}
.header__btn i{
    background-color: transparent;
    color: white;
    padding: 0;
}
.header__btn:hover {
    background-color: transparent;
}
.header__btn--bordered {
    border-radius: 0;
    border-style: solid;
    border-color: white;
    border-width: .1rem;
    padding: 0 .2rem .1rem;
}
/* End: Header */

/* Begin: Form-search */
.form-search {
    border-radius: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.form-search__input {
    text-align: center;
    border-width: 0;
    padding: 0;
}
.form-search__btn {
    background-color: transparent;
    border-width: 0;
    padding: 0;
    cursor: pointer;
}
.form-search__btn:hover {
    background-color: transparent;
}
/* End: Form-search */

/* Begin: Running string*/
@-webkit-keyframes scroll {
    0% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }
    100% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@keyframes scroll {
    0% {
        transform: translate(-100%, 0);
    }
    100% {
        transform: translate(0, 0)
    }
}

.marquee {
    height: 2rem;
    background-color: white;
    position: relative;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.marquee__p {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: scroll 21s infinite linear;
    animation: scroll 21s infinite linear;
}
.marquee__closed {
    background-color: yellow;
    font-weight: 600;
    position: absolute;
    margin: 0 auto;
    left: 45%;
    top: 0;
    padding: .2rem .5rem;
}
/* End: Running string*/

/* Begin: Patient-list */
.patient-list {
    overflow: hidden;

}
.patient-list li {
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 3rem;
    margin-bottom: .3rem;
    padding: 0;
    position: relative;
    width: 100%;
}
.patient-list__info{
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    height: 3rem;
    justify-content: space-between;
    padding: .7rem;
    position: absolute;
    width: 100%;
}
.patient-list__info--mirror {
    background-color: green;
    color: white;
    font-weight: 600;
    justify-content: flex-start;
    left: 110%;
    height: 100%;
    width: 100%;
}
.patient-list__link {
    align-items: center;
    color: black;
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}
.patient-list li i {
    font-size: 1.2rem;
}
.patient-list__patient-header {
    background-color: yellow;
}
 .patient-list__patient-name {
     text-transform: uppercase;
     font-weight: 500;
}
.patient-list__patient-badge {
    float: right;
    padding: .5rem;
}
.patient-list__patient-badge--first {
    border-color: yellow;
    border-width: .1rem;
    border-style: solid;
}
/* End: Patient-list */

/* Begin: Bottom-control*/
footer {
    background-color: #4d4d4d;
    border-bottom-color: white;
    border-bottom-width: .3rem;
    border-bottom-style: solid;
    border-left-color: white;
    border-left-width: .3rem;
    border-left-style: solid;
    border-right-color: white;
    border-right-width: .3rem;
    border-right-style: solid;
    bottom: 0;
    left: 0;
    padding: .4rem;
    position: fixed;
    right: 0;
}
.bottom-control {
    align-items: center;
    background-color: white;
    display: inline-flex;
    height: 100%;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding-left: 0;
    width: 100%;
}
.bottom-control__item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    justify-content: center;
    padding: .5rem;
}
.bottom-control__item i {
    font-size: 1.5rem;
}
/* End: Bottom-control*/